<!DOCTYPE html>
<html>
<head>
    <title>账号迁移</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400' rel='stylesheet' type='text/css'>
    <link href="~/styles/style.css" rel='stylesheet' type='text/css' />
    <script src="~/scripts/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div class="newsletter-box">
        <div class="newsletter-message">
            <div class="newsletter-image">
                <img src="images/responsive.png" alt="" />
            </div>
            <div class="newsletter-content">
                <h2 class="newsletter-content-title">将Tyvj账号资料迁移至 Joy OI中</h2>
                <p class="newsletter-content-subtitle">全新的<a style="text-decoration:underline;position:relative;z-index:999" href="http://www.joyoi.cn">Joy OI</a>平台已经上线，通过本平台可将您的Tyvj账户资料迁移至全新的Joy OI中。</p>
                <form method="post" action="/Home/Step2">
                    <input type="text" class="incsub-mailchimp-field" placeholder="输入您的手机号码..." name="phone" required="" />
                    <input type="submit" class="incsub-mailchimp-submit" value="下一步" />
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <script>
        $('#btnTyvj').click(function () { 
            alert("Tyvj将在2018年初停止服务，请尽快将您的Tyvj账号迁移至Joy OI中！");
            window.location = 'http://tyvj.joyoi.cn';
        });
    </script>
</body>

</html>