<!DOCTYPE html>
<html>
<head>
    <title>账号迁移</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400' rel='stylesheet' type='text/css'>
    <link href="~/styles/style.css" rel='stylesheet' type='text/css' />
    <script src="~/scripts/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div class="newsletter-box">
        <div class="newsletter-message">
            <div class="newsletter-image">
                <img src="/images/responsive.png" alt="" />
            </div>
            <div class="newsletter-content">
                <h2 class="newsletter-content-title">更新您的资料</h2>
                <p class="newsletter-content-subtitle">您的资料不符合Joy OI的规则，请您更新下面的内容。</p>
                <form method="post" action="/Home/Step5">
                    @if (ViewBag.Invalid)
                    {
                    <input type="text" class="incsub-mailchimp-field" placeholder="用户名" name="username" />
                    }
                    else
                    {
                    <input type="hidden" class="incsub-mailchimp-field" name="username" value="@ViewBag.Username" />
                    }
                    
                    @if (ViewBag.EmailInvalid)
                    {
                    <input type="text" class="incsub-mailchimp-field" placeholder="电子邮箱" name="email" />
                    }
                    else
                    {
                    <input type="hidden" class="incsub-mailchimp-field" name="email" value="@ViewBag.Email" />
                    }
                    <input id="btnNext" type="submit" class="incsub-mailchimp-submit" value="下一步" />
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <script>
        $('#btnNext').click(function () {
            $('.newsletter-content-title').text('请稍等');
            $('.newsletter-content-subtitle').text('我们正在帮您迁移账号资料，请等候大约2分钟！');
            $('input').hide();
        });
    </script>
    @if (!ViewBag.Invalid && !ViewBag.EmailInvalid)
    {
    <script>
        $('form').submit();
        $('.newsletter-content-title').text('请稍等'); 
        $('.newsletter-content-subtitle').text('我们正在帮您迁移账号资料，请等候大约2分钟！');
        $('input').hide();
    </script>
    }
</body>
</html>